<!-- Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
	<title>Simple Footer In Html - w3hubs.com</title>
<meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="W3HUBS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="footer.css">
</head>
<body>
   
   <div class="w3hubs-footer">
   	  
   	 
           
                <div class="w3hubs-icon">
                    <ul>
                        <li><a href="#" target="black"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="black"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="black"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="black"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="black"><i class="fa fa-youtube-play"></i></a></li>
                        <li style="float: right;"><a href="#" title="To Top"><i class="fa fa-chevron-down" ></i></a></li>
                   
                    </ul>
                 </div>
   	  </div>
   	  
   	 

   	 
   </div>

   <div class="footer-end">
   	  <p>Desing By: <a href="https://w3hubs.com/">W3HUBS.com</a></p>
   </div>
</body>
</html>