

<h1 style="text-align: center;"> MES SERVICES</h1> 

   <h2 style="text-align: center;">Des prestations adaptées à vos besoins</h2> 
<div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GESTION DE PROJETS WEB</h5>
          <p class="card-text">Site vitrine, évènementiel,
            e-commerce, intranet, application mobile..</p>
         
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CONCEPTION GRAPHIQUE & WEBDESIGN</h5>
          
          <p class="card-text">Logos, templates Web, plaquettes publicitaires,
            cartes de visite, newsletters...</p>
          
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">INTÉGRATION WEB</h5>
          <p class="card-text">Des intégrations (X)HTML / CSS
            respectueuses des standards du Web.</p>
         
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
           
          <h5 class="card-title">INTERFACE D'ADMINISTRATION</h5>
          <p class="card-text"> Outils spécifiques au bon fonctionnement
            de votre entreprise.</p>
         
        </div>
      </div>
    </div>
  </div>
  <br><div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GESTION DE PROJETS WEB</h5>
          <p class="card-text">Site vitrine, évènementiel,
            e-commerce, intranet, application mobile..</p>
         
        </div>
      </div>
    </div> 
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
           
          <h5 class="card-title">RESPONSIVE DESIGN</h5>
          <p class="card-text"> Compatible tous supports, tablette & application mobile.</p>
          
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">CREATION DES APPLICATION</h5>
              <p class="card-text"> Développer des applications web et mobile </p>
             
            </div>
          </div>
    </div>
    <div class="col-sm-3">
     
    </div>
  </div>